@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

body{
    margin: 0;
    font-family: var(--HTDglobalefont);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: auto;
    background-color: rgb(232, 234, 238);
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}header{height: 90px;background: #B0C4F5D1;display: flex; align-items: center;
justify-content: center;}.inner-width{max-width: 1200px;padding: 0 10px;margin: auto; display: flex; justify-content: space-between;align-items: center;margin: 0;width: 100%;}.logo{float: left;color: #fff;}
.logo img{
  height: 50px;
}
.navigation-menu{
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.navigation-menu a{
  margin-left: 10px;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .2s linear;
}
.navigation-menu a:hover{
  background: #273b91;
  color: #fff;
  transform: scale(1.1);
}
.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}
.home{
  color: #fff;
}
.aj_btn {
  background: #506eef;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .2s linear;
}
.aj_btn:hover{
  background: #fff;
  color: #273b91;
  font-weight: 500;
  letter-spacing: 2px;
}
.menu-toggle-btn{
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  display: none !important;
  cursor: pointer;
}
@media screen and (max-width:900px) {
  .menu-toggle-btn{
    display: block !important;
  }
  .navigation-menu{
    position: fixed;
    width: 100%;
    max-width: 400px;
    background: #172b4d;
    top: 90px;
    right: 0;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
  }
  .navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #172b4d;
    position: absolute;
    top: -10px;
    right: 10px;
  }
  .navigation-menu a{
    display: block;
    margin: 10px 0;
  }
  .navigation-menu.active{
    display: block;
  }
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    list-style: none;
    padding-left: 0;
}
.page-wrapper {
    position: relative;
}
.simplebar-mask{
    direction: inherit;
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto !important;
    height: auto !important;
    z-index: 0;
}
.sidebar-link{
color: #2A3547;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
font-size: 14px;
white-space: nowrap;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
line-height: 25px;
position: relative;
margin: 0px 0px 2px;
padding: 10px;
border-radius: 7px;
gap: 15px;
font-weight: 400;
}
.left-sidebar{
position: fixed;
top: 0;
width: 270px;
background-color: #fff;
position: absolute;
-webkit-transition: 0.2s ease-in;
transition: 0.2s ease-in;
height: 100%;
z-index: 11;
border-right: 1px solid rgb(229,234,239); 
}
.unlimited-access-img{
    padding: 18px 22px 25px;
    margin: 0 -5px;
}
.rounded {
    border-radius: var(--bs-border-radius)!important;
}
.bg-light-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-primary-rgb),var(--bs-bg-opacity))!important;
}
.mb-7 {
    margin-bottom: 30px!important;
}

/********** Side bar style ***********/
.side_bar_container_admin{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #353d42db;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.side_bar_container_admin a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.side_bar_container_admin .sidebar-link:hover {
    color: #e2e2e2;
    background-color: #929292;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

.side_bar_container_admin .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 32px;
    margin-left: 50px;
}

.side_bar_navigation{
    display: flex; 
    flex-direction: column;
    gap: 1rem; 
    padding: 0.3rem; 
}

@media screen and (max-height: 450px) {
    .side_bar_container_admin {
        padding-top: 15px;
    }

    .side_bar_container_admin a {
        font-size: 18px;
    }
}
.openbtn {
    font-size: 1rem;
    cursor: pointer;
    background-color: #2b934859;
    color: #010101;
    padding: 10px 15px;
    border: none;
}

/*** Chart js style block ***/
.chart_classic_wrapp_container{
    position: relative; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px; 
    padding: 20px; 
    min-height: 200px;
}
.chart_classic_wrapp_container .box{
    position: relative;
    background: #fff;
    padding: 20px; 
    box-shadow: 0 7px 25px rgb(0, 0, 0,0.08);
    border-radius: 20px;
}

@media (max-width: 900px) {
    .chart_classic_wrapp_container{
        grid-template-columns: 1fr;
        height: auto;
    }
}

/* management info banner */
.box_fomat_container_managment{
    position: relative; 
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 1.3fr;
    gap: 30px; 
    padding: 20px; 
    min-height: 200px;
}
.box_fomat_container_managment
.nlc_box{
    position: relative;
    background: #fff;
    padding: 20px; 
    box-shadow: 0 7px 25px rgb(0, 0, 0,0.08);
    border-radius: 20px;
}
.banner_head_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner_head_info
.view_all{
    padding: 5px 10px; 
    background: #66a6f9;
    border-radius: 5px; 
    cursor: pointer;
    color: #fff; 
}




/*** Footer admin style ***/
.footer_nav_sider{
    -webkit-box-direction: normal;
    -webkit-box-sizing: border-box;
    -webkit-box-orient: horizontal;
    box-sizing: border-box; 
    display: flex;
    align-items:center;
    justify-content: center; 
    background-color:var(--Footer-Background-colorBg);
    width: 100%; 
    height: 6.5rem; 
    overflow: none;
    margin: 0rem auto -50px; 
    margin-top: 2.8rem;
    /* position: fixed;
    bottom: 0; */
    z-index: 1000;  
  }