
@import url('https://fonts.googleapis.com/css?family=Inconsolata&text=Hello%20World');
@import url("https://fonts.googleapis.com/css?family=Courgette:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root{
    --Black_Color:#000;
    --White_Color:#ffff;
    --Footer-Background-colorBg: #c4d9e0; 
    --red_Color: rgb(255, 15, 15); 
    --blue_log_Color: rgb(84, 143, 255); 
    --Center: 'center'; 
    --HTDglobalefont:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,
  "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
  --OferCookie-sett-font: "barlow"; 
  --HOMEglobalefont_min_line: neo sans, Arial, Helvetica, sans-serif; 
  --PROFILEglobafont_min_line_fira: fira sans, sans-serif; 
}

body {
    margin: 0;
    font-family: var(--HTDglobalefont);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: auto;
    background-color: rgb(232, 234, 238);
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}

/*** Header style ***/
.menu_navigation{
-webkit-box-sizing: border-box;
box-sizing: border-box;
margin: 0rem; 
padding: 5px 5px;
display:flex; 
align-items: center;
justify-content: space-between;
flex-direction: row;
height: 6.4rem;
width: 100%; 
background-color: var(--White_Color);
box-shadow: 1px 1px 1px gray;
}
.head_wrapp_menu{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0.4rem;
}
.head_wrapp_menu 
.elment_dir_header_local{
  display: flex;
  align-items: center;
  gap: 5.8rem; 
  padding: 0rem; 
  margin: 0rem; 
}
.head_wrapp_menu 
.elment_dir_header_local li{
  margin: 0.2rem; 
}
.head_wrapp_menu 
.elment_dir_header_local li a{
  font-size: 15.5px; 
  color: var(--Black_Color);
}

/** Search bar style **/
.formul_search_classd{
  margin-bottom: 0.5rem;
  width: 100%; 
}
.find_srch_product{
display: flex;
align-items: center;
justify-content: center;
height: 2rem;
border: 2px solid var(--Black_Color); 
border-radius: 3px;
}
.search_box_classic{
  height: 100%;
  border:0;
  width: 90%; 
  padding: 8px; 
}
.search_box_classic:focus{
  outline: none;
}
.link_close_valex{
  width: 22px; 
  cursor: pointer;
  margin: 0.4rem;
}
.link_close_valex:hover{
  fill:rgb(139, 40, 40);}


.user_profile_elem{
  /* border: 0.5px solid var(--Black_Color); 
  border-radius: 50%;
  padding: 0.2874rem; 
  cursor: pointer;*/
}
.user_profile_elem:hover{
  /* background-color: #d6e7ece0; */
}

/***** Management product categorie *****/
.base_box_manage_search_product{
 -webkit-box-sizing: border-box;
 -webkit-box-direction: normal;
 -webkit-box-orient: horizontal;
 box-sizing: border-box;
 display: flex;
 flex-direction: column;
 gap: 0.2rem;
 overflow: hidden;
 margin: 0rem; 
 padding: 0.2rem; 
}
.formulat_cat{
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
  width: 50%; 
  height: auto; 
  margin: 0.1rem; 
  padding: 0.3rem; 
  display: flex;
  flex-direction: column;
  gap:1.1rem; 
}
.base_box_manage_search_product
.anum_max_min_price_prod{
  display: flex;
  gap: 1.285rem; 
}
.selection_cat_list{
  width: 50%;
  height: 2rem; 
}
.sub_part_cat{
  width: 25%;
  display: flex;
  gap: 0.2rem;
}
.sub_part_cat label{
  background: #c9b9ed5c;
  padding: 5px;
  border-radius: 3px;
  font-size: 14.5px; 
}
.price_cat_typo{
  width: 47%;
  height: 2.2rem;
  margin: 0rem; 
  padding: 0rem; 
  padding-left: 0.1rem;
}
.price_cat_typo:focus{
  outline: none;
}
.submit_search_cat_btn{
  width: 50%; 
  height: 2rem;
  cursor: pointer;
  background-color: #aa8fe9ea;
  border: 1px solid var(--Black_Color);
  color: var(--White_Color); 
  font-weight: 600;
}
.num_result_search{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.num_result_search{
  display: none;
}
/*** cart article head ***/
.shpping_cart_element{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display:flex;
  width: auto;
  height: 2rem;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;  
  cursor: pointer;
  border-radius: 2px; 
  padding: 1.2rem; 
}
.shpping_cart_element .cart_aticle_qte{
  border-radius: 50%;
  background-color: #ff3131;
  padding: 1px 7.3px;
  display: flex;
  align-items: center;
  justify-content:center;
  color: var(--White_Color); 
  font-weight: 600;
}
.cart_par_st:hover{
  color: rgb(90, 90, 90);
}

/** Cart Box **/
.closing_cart_icon{
  position: absolute;
  right: 18; 
}

.cart-box{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  right: 1; 
  background-color: #b5cbc0f5;
  align-items: center;
  padding: 5px 20px;
  margin: 0rem; 
  width: 30%;
  transition: 1.8s all ease-in;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  top: 0; 
}
.cart_title{
  margin: 0rem; 
  margin-top: 0.6rem; 
}
.details_box_cart{
  display: flex;
  margin: 5px; 
  padding: 15px 10px; 
  flex-direction: column; 
  gap: 15px; 
}
.cart_box{
  display: flex;
}
.quantity_article{
   border: 1px solid gray; 
   width: 2.8rem; 
   padding: 5px; 
   font-size: 16px; 
   border-radius: 5px;
}
.cart_products_elements{
width: 65%;
display: flex;
flex-direction: column;
padding: 10px;
gap: 11px;
}
.cart_article_quantity{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.close_cart_btn{
  cursor: pointer;
}
.close_cart_btn:hover{
  fill: var(--red_Color);
}
.remove_article{
  cursor: pointer;
  fill: #f35a5a; 
  position: absolute;
  top: 8rem; 
  right: 5rem;
}
.remove_article:hover{
  fill: #f54b4b; 
}

.total_price_cart{
  margin: 0.2rem; 
  width: 100%; 
  display: flex; 
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid var(--Black_Color);
}
.total_price_cart b{
  font-size: 24px; 
}
.total_price_cart .price_total{
  font-size: 21px;
  margin: 0.3rem;  
}

.buy_shops_btn{
  box-sizing: border-box;
  font-size: 16.5px; 
  width: 80%; 
  height: 2.8rem; 
  cursor: pointer;
  background-color: rgb(91, 154, 248);
  border: 1px solid var(--Black_Color);
  border-radius: 3px;
}

.inscription_container_infos{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0.5rem; 
}
.inscription_container_infos
.inscr_btn{
  box-sizing: border-box;
  width: 5rem; 
  height: 2.4rem; 
  cursor: pointer;
  color: var(--Black_Color);
}
.inscription_container_infos
.inscr_btn a{
  color: var(--Black_Color);
}


/*** Footer style ***/
.footer_nav_sider{
  -webkit-box-direction: normal;
  -webkit-box-sizing: border-box;
  -webkit-box-orient: horizontal;
  box-sizing: border-box; 
  display: flex;
  align-items:center;
  justify-content: center; 
  background-color:var(--Footer-Background-colorBg);
  width: 100%; 
  height: 6.5rem; 
  overflow: none;
  margin: 0rem auto -50px; 
  margin-top: 2.8rem;
  /* position: fixed;
  bottom: 0; */
  z-index: 1000;  
}

/*** products style ***/ 
.container_products_article{
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px 5px; 
  margin: 1.5rem; 
}
.container_products_article
.products_elments_sets{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.products_elments_sets
.product_image{
  width: 13rem;
}
.products_elments_sets{
background-color: rgb(248, 248, 248);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 10px;
margin: 2.2rem;
width: 68%;
}
.add_artCart_product{
  height: 2rem; 
  cursor: pointer;
}


/* checkout page (payement.php) */
.root_page{
  padding: 0.5rem; 
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background: linear-gradient(90deg, #b5dbd7 50%, #278eaeb5 40.1%);
}

.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
}

.container form .submit-btn:hover{
  background: #2ecc71;
}

/** basic display none | block value **/
.none{
  display: none;
}
.block{
  display: flex;
}
