
/**** login system style ****/
.login_page_box_container{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem; 
    padding: 0.1rem;
    margin-top: 0.356568rem; 
    overflow: hidden; 
    }
.login_page_box_container
 .form_loginContain_side{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    }
    