body{
    background-color: #fff;
}
/**** login system style ****/
.rest_top_elementCent{
    text-align: center;
    font-size:  40px;
    color: rgba(70, 98, 255, 0.96);
    margin-bottom: 0rem;
}
.login_page_box_container{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem; 
    padding: 0.8rem;
    margin-top: 0.356568rem; 
    overflow: hidden;
    }
.login_page_box_container
 .form_loginContain_side{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form_login_nd_registration{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    /* position: absolute;  */
    z-index: 100;
    padding: 3rem; 
    box-shadow: 2px 2px 15px 1px #bababa;
}
.form_login_nd_registration .lab_form{
   font-weight: 600;
   font-size: 17px; 
}
.log{
    width: 30%; 
}
.form_login_nd_registration
.sign_logs_Boxes{
    padding: 0.5rem; 
}
.form_login_nd_registration
.log_strtProced{
    height: 2.5rem;
    margin: 0rem; 
    margin-top: 0.8rem; 
    cursor: pointer;
    background-color: var(--blue_log_Color);
    border: 1px solid var(--Black_Color); 
    border-radius: 3.8px;
    font-size: 15.4px;
}

/*** error style ***/
.error_success_wrapp_handle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem;
    margin-bottom: 1.2rem; 
}
.error_log_section{
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    margin: 0rem; 
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    background-color: #ff0d0d96;
    width: 65%;
    border-radius: 3px;
}
/** success submition style**/
.success_sub_element{
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    margin: 0rem; 
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    background-color: #0dff7e96;
    width: 65%;
    border-radius: 3px;
}
